In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

ModuleNotFoundError: No module named 'pandas'

In [9]:
test = pd.read_csv('../input/test.csv')
train = pd.read_csv('../input/train.csv')

In [10]:
test.head(10)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1
0,6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,Отдам бесплатно,На ангарском,NaN,66,2017-04-18,Private,a8b57acb5ab304f9c331ac7a074219aed4d349d8aef386...,2020.0
1,65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,NaN,NaN,Продам велосипед,"Продам велосипед KAMA F200,в нормальном состо...",3000.0,4,2017-04-16,Private,NaN,NaN
2,8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,NaN,NaN,BBK,Продам новый телевизор BBK 32 диагональ смарт...,15000.0,15,2017-04-17,Private,8c361112cb049745ef2d1b0ae73594fc5c107286b0c942...,2960.0
3,8e348601fefc,5f1d5c3ce0da,Саратовская область,Саратов,Для дома и дачи,Бытовая техника,Для кухни,Вытяжки,NaN,Вытяжка Jetair 60,"Продам новую вытяжку в упаковке,с документами....",4500.0,70,2017-04-17,Private,NaN,NaN
4,8bd2fe400b89,23e2d97bfc7f,Оренбургская область,Бузулук,Личные вещи,Товары для детей и игрушки,Детские коляски,NaN,NaN,Коляска зима-лето,Продам отличную коляску. б/у 1 год. все вопрос...,4900.0,15,2017-04-15,Private,bc3cf6deef10840fc302e38eb48fa7748aa1e28d534f8f...,1002.0
5,c63dbd6c657f,c2a632af2602,Ростовская область,Ростов-на-Дону,Для дома и дачи,Ремонт и строительство,Окна и балконы,NaN,NaN,Стекла для пластиковых окон,Продаю стеклопакеты новые:/\n1. 1322х652х24 /\...,500.0,39,2017-04-12,Private,7acdde494d48f4e46c8be158d64ad73a61d153b825c378...,1409.0
6,6d1a410df86e,b239811ad530,Оренбургская область,Оренбург,Бытовая электроника,Ноутбуки,NaN,NaN,NaN,Ноутбук Lenovo Ideapad 300-15Ibr арт.14899,Описание: /\nНоутбук Lenovo IdeaPad 300-15IBR ...,20990.0,57316,2017-04-17,Shop,f52abf9f68eca4aac35ed2b67bf093095950c417c080dd...,2961.0
7,e8d3e7922b80,d85fa02e6341,Калининградская область,Калининград,Бытовая электроника,Телефоны,Аксессуары,Чехлы и плёнки,NaN,Nillkin Phenom для Apple iPhone,Для iPhone 7 (черный)/\n /\nПродаются от магаз...,990.0,851,2017-04-18,Shop,2e2b5526345f5d66571615dd0fdc984f765a336ec6df3d...,2909.0
8,2bc1ab208462,ae6586719bec,Новосибирская область,Новосибирск,Бытовая электроника,Товары для компьютера,Флэшки и карты памяти,NaN,NaN,Флешка USB 32Gb smartbuy,новые/\n /\nесть синие и оранжевые/\n /\nSmart...,1200.0,10020,2017-04-18,Company,8aa1dfcbdc489750eb965e43ff545505f2c845990d73f9...,2815.0
9,7e05d77a9181,30ad26d633ef,Свердловская область,Полевской,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,23,Ботинки,"Фирма ""Кенгуру""",400.0,16,2017-04-12,Private,4870dbf90fffd7fcbc34ef30cd6c2cf3f2fbe81bc1ef66...,88.0

In [11]:
test.describe()

              price  item_seq_number    image_top_1
count  4.778530e+05    508438.000000  465829.000000
mean   2.798189e+05       825.132150    1297.959228
std    5.364218e+06      5646.868618     961.065300
min    0.000000e+00         1.000000       0.000000
25%    5.000000e+02         8.000000     467.000000
50%    1.500000e+03        30.000000    1132.000000
75%    8.600000e+03        94.000000    2218.000000
max    3.000060e+09    205064.000000    3066.000000

In [12]:
train.describe(include='all')

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
count,1503424,1503424,1503424,1503424,1503424,1503424,1441848,848882,640859,1503424,1387148,1.418062e+06,1.503424e+06,1503424,1503424,1390836,1.390836e+06,1.503424e+06
unique,1503424,771769,28,1733,9,47,371,271,1219,788377,1317102,NaN,NaN,21,3,1390836,NaN,NaN
top,14102ba1651e,45ba3f23bf25,Краснодарский край,Краснодар,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Обувь,Вторичка,Платье,В хорошем состоянии,NaN,NaN,2017-03-20,Private,3530ebcf718e02e68d1c2d238e1770f4a9f5725082e8dd...,NaN,NaN
freq,1,1080,141416,63638,697623,282753,226289,150450,50615,15550,2249,NaN,NaN,115190,1075706,1,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.167081e+05,7.436740e+02,NaN,NaN,NaN,1.241932e+03,1.391306e-01
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.689154e+07,5.572522e+03,NaN,NaN,NaN,9.704641e+02,2.600785e-01
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e+02,9.000000e+00,NaN,NaN,NaN,4.250000e+02,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.300000e+03,2.900000e+01,NaN,NaN,NaN,1.057000e+03,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000e+03,8.800000e+01,NaN,NaN,NaN,2.217000e+03,1.508700e-01
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.950101e+10,2.044290e+05,NaN,NaN,NaN,3.066000e+03,1.000000e+00

In [13]:
train.shape

(1503424, 18)

In [14]:
test['is_train'] = False
train['is_train'] = True

all_df = pd.concat([test, train], axis = 0)

In [15]:
all_df.tail()

,activation_date,category_name,city,deal_probability,description,image,image_top_1,is_train,item_id,item_seq_number,param_1,param_2,param_3,parent_category_name,price,region,title,user_id,user_type
1503419,2017-03-20,Детская одежда и обувь,Пермь,0.25019,NaN,2da79294c6f23f61d4bf6a8f4034f87e2f318b7e32c68b...,88.0,True,5e6b7f0f3f65,7,Для девочек,Обувь,26,Личные вещи,300.0,Пермский край,Ботиночки,dd05217165ea,Private
1503420,2017-03-28,Предложение услуг,Краснодар,0.60000,"Произведем бесплатный замер, изготовим и устан...",33e13a67b441486ebe48e1459382caa620c4d1802aad1c...,1191.0,True,d1f0910d2126,1,"Ремонт, строительство",Ремонт квартиры,NaN,Услуги,200.0,Краснодарский край,Натяжной потолок,dc23ef451c8a,Private
1503421,2017-03-21,Квартиры,Белебей,0.39569,"Продам квартиру с отличным ремонтом , две лодж...",2ae822ca21cff9465e430c68a1df31c5cda658cbc00eb1...,1202.0,True,bc04866bc803,50,Продам,4,Вторичка,Недвижимость,NaN,Башкортостан,"4-к квартира, 83 м², 4/5 эт.",66a7016a5995,Company
1503422,2017-03-22,Детская одежда и обувь,Березники,0.00000,Продам красивые туфли в хорошем состоянии!,6b4285c22388a5dae37c3d390d3e1b174f7a980d9e3919...,87.0,True,f782f2ad9349,33,Для девочек,Обувь,27,Личные вещи,350.0,Пермский край,Туфли-балетки,2d3ac1f5a7b3,Private
1503423,2017-03-21,Товары для детей и игрушки,Анапа,0.00000,ПРЕДЛАГАЕМ ВАШЕМУ ВНИМАНИЮ УНИКАЛЬНЫЕ ИГРУШКИ ...,87cca5889b96b0368bffbe7cdb3f0cc5fa660f33be9fd0...,979.0,True,9ad3b7bff1db,18,Игрушки,NaN,NaN,Личные вещи,1500.0,Краснодарский край,Кукольные домики из берез. фанеры (большой выбор),f3342ccd95c8,Private

In [16]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [17]:
le.fit(all_df['item_id'])

LabelEncoder()

In [1]:
cat_vars = ["user_id", "region", "city", "parent_category_name", "category_name", "param_1", "param_2", "param_3", "user_type"]
for col in cat_vars:
    all_df[col] = all_df[col].astype('str')
    le.fit(all_df[col])
    all_df[col] = le.transform(all_df[col])

NameError: name 'all_df' is not defined

In [ ]:
all_df.head()

In [ ]:
cols_to_drop = ["item_id", "title", "description", "activation_date", "image"]
all_df = all_df.drop(cols_to_drop, axis = 1)

In [ ]:
all_df.head()

In [ ]:
all_df = all_df.fillna(0)

In [ ]:
all_df.head()